////////////////////////////////////////////////////////////////////////////////////////
@import "reset";
@import "commons";

////////////////////////////////////////////////////////////////////////////////////////
.alert {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  padding: 20px;
  text-align: center;
  border-radius: 3px 3px 0 0;

  a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
  }

  &.alert-warning {
    background: #ff9f00;
  }

  &.alert-bad {
    background: #d0021b;
  }

  &.alert-good {
    background: #68b90f;
  }
}
