---
subject: Branded transaction email example
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{subject}}</title>
	<link href="css/main.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>

	<table class="body-wrap">
		<tr>
			<td></td>
			<td class="container">
				<div class="content">
					<div class="header">
						<table width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td class="aligncenter">
									<a href="http://www.mailgun.com"><img src="img/mailgun.png" height="50" alt="Mailgun"></a>
								</td>
							</tr>
						</table>
					</div>
					<table class="main" width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td class="content-wrap">
								<table width="100%" cellpadding="0" cellspacing="0">
									<tr>
										<td>
											Example of an email with image asset.
											<br><br>
											You should upload your email images to a CDN, or for smaller file sizes you can also inline them.
											<br><br>
											Should come in handy for branded transactional emails or promotional type emails.
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<div class="footer">
						<table width="100%">
							<tr>
								<td class="aligncenter">Follow <a href="http://twitter.com/leemunroe">@leemunroe</a> on Twitter.</td>
							</tr>
						</table>
					</div>
				</div>
			</td>
			<td></td>
		</tr>
	</table>

</body>
</html>